@font-face {
    src: url(fonts/Painting_With_Chocolate.ttf);
    font-family: nos;
}
@font-face {
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-family: lmee;
}
body{
    background: linear-gradient(-45deg, #372b5a, #2e092e, #5e0219, #0f0018);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
p{
    font-family: nos;
    text-align: center;
    font-size: 300%;
    color: #AAAAAA;
    text-shadow: 2px 2px 4px black;
    position: relative;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
    bottom: 0px;
}
p:hover{
    color: white;
    text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.63);
    position: relative;
    bottom: 10px;
}

h1{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h1:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}

h2{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h2:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}

h3{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 100%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h3:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h4{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 90%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 250ms cubic-bezier(.16,.66,.27,.99);
}

