@font-face {
    src: url(fonts/Painting_With_Chocolate.ttf);
    font-family: nos;
}
@font-face {
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-family: lmee;
}
body{
    background-color: #372b5a;
}

p{
    font-family: nos;
    text-align: center;
    font-size: 300%;
    color: #AAAAAA;
    text-shadow: 2px 2px 4px black;
    position: relative;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
    bottom: 0px;
}
p:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}

h1{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h1:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h2{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 100%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h2:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h3{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 100%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h3:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
