@font-face {
    src: url(fonts/Painting_With_Chocolate.ttf);
    font-family: nos;
}
@font-face {
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-family: lmee;
}
body{
    background-color: #372b5a;
}

h1{
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 450%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    transition-property: all;
    transition-duration: 1s;
}
h2{
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 350%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    transition-property: all;
    transition-duration: 1s;
}
p{
    color:#AAAAAA;
    font-family: nos;
    font-size: 800%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    transition-property: all;
    transition-duration: 1s;
}
h1:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 5px;
}
h2:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 5px;
}
p:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 5px;
}
