@font-face {
    src: url(fonts/Painting_With_Chocolate.ttf);
    font-family: nos;
}
@font-face {
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-family: lmee;
}
body{
    background: linear-gradient(-45deg, #372b5a, #2e092e, #5e0219, #0f0018);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0%{
       background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

h1{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);}
h2{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 200%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
    
}
p{
    padding: 10px;
    color:#AAAAAA;
    font-family: nos;
    font-size: 400%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);    
}
h1:hover{
    
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h2:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
p:hover{
    color: white;
    text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.63);
    position: relative;
    bottom: 10px;
}
h3{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 100%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h3:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h4{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 90%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h4:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}

h5{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 90%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h5:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

img{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.741);
    transition: all 300ms cubic-bezier(.16,.66,.27,.99);;
}

img:hover{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.538);
    width: 750px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a1a; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #343434; 
  }
