@font-face {
    src: url(fonts/Painting_With_Chocolate.ttf);
    font-family: nos;
}
@font-face {
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-family: lmee;
}
body{
    background-color: #372b5a;
}

div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

h1{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);}
h2{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 200%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
    
}

h1:hover{
    
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h2:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h3{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 100%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h3:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
h4{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 90%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h4:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}

h5{
    padding: 10px;
    color: #AAAAAA;
    font-family: lmee;
    vertical-align: middle;
    font-size: 90%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);
}
h5:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Trac
  ::-webkit-scrollbar-track {
    background: #15131d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4b3391; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #231d35; 
  }

h6{
    padding: 10px;
    color:#AAAAAA;
    font-family: nos;
    font-size: 200%;
    text-shadow: 2px 2px 4px black;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.16,.66,.27,.99);    
}
h6:hover{
    color: white;
    text-shadow: 4px 4px 8px black;
    position: relative;
    bottom: 10px;
}